<div class="row">

  <div class="form col col-xs-12 col-md-10 col-md-offset-1">

    <% if @organization.blank? %>
      <h2 class="accent-font text-center">Sign up!</h2>
      <%= render 'form' %>      
    
      <div class="site-explanation well">
        <h3 class="accent-font accent-background">By creating an account, you can...</h3>
        <ul>
          <li>Play bingo cards other groups have created</li>
          <li>Share your bingo cards with others!</li>
          <li>Join groups to access their private bingo cards</li>
        </ul>
        <h3 class="accent-font accent-background">You should create a group if...</h3>
        <ul>
          <li>You want to create your own bingo templates for others to play</li>
          <li>You want to organize a group of bingo players</li>
        </ul>
        <h4 class="accent-font accent-background">Perfect for...</h4>
        <ul >
          <li>Corporate challenges</li>
          <li>Friends challenging each other</li>
          <li>Anyone who wants to have fun!</li>
        </ul>
      </div>
      
    <% else %>
      <h2 class="accent-font text-center">Join <%= @organization.name %>'s group!</h2>
      
      <%= render 'form' %>      
    
      <div class="site-explanation well">
        <h3 class="accent-font accent-background">By joining a group, you can...</h3>
        <ul>
          <li>See <%= @organization.name %>'s private bingo templates</li>
          <li>Play them yourself!</li>
        </ul>
        <h3 class="accent-font accent-background">In return, the group admin can...</h3>
        <ul>
          <li>See you've joined (first and last name)</li>
          <li>See (not edit) your bingos</li>
          <li>Nobody else has access -- unless you choose to share!</li>
        </ul>
        <h4 class="accent-font accent-background">Perfect for...</h4>
        <ul >
          <li>Corporate challenges</li>
          <li>Friends challenging each other</li>
          <li>Anyone who wants to have fun!</li>
        </ul>
      </div>
    <% end %>
    
  </div>

</div>