<div class="header" style="background-image: url(<%= image_url("header.jpeg") %>);">
</div>
<div class="container-fluid">
  <div class="welcome-explanation">
    <div class="row">
      <div class="col col-xs-12 col-sm-6 box">
        <div style="circle"></div>
      </div>
    </div>
  </div>
</div>