<div class="header" style="background-image: url(<%= image_url("header.jpeg") %>);">
</div>
<div class="container-fluid">
  <div class="welcome-explanation">
    <div class="row row-for-box">
      <div class="col col-xs-12 col-sm-3">
        <div class="box">
          <div class="circle"></div>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-3 col-sm-offset-1">
        <div class="box">
          <div class="circle"></div>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-3 col-sm-offset-1">
        <div class="box">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>