<div class="row">

  <div class="form col col-xs-12 col-md-10 col-md-offset-1">

    <h1 class="accent-font text-center">Update your Card</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @card, class: "btn accent-background" %> |
    <%= link_to 'Back', cards_path, class: "btn accent-background" %>

  </div>

</div>