<h1 class="accent-font text-center">Update your Card</h1>

<%= render 'form' %>

<%= link_to 'Show', @card, class: "btn accent-background" %> |
<%= link_to 'Back', cards_path, class: "btn accent-background" %>
