<div class="row">

  <div class="form col col-xs-12 col-md-10 col-md-offset-1">
    
    <h1 class="accent-font text-center">Play a new card...</h1>

    <%= render 'form_new' %>

    <%= link_to 'Back', cards_path, class: "btn accent-background" %>

  </div>

</div>