/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Open Sans', sans-serif;
}
.margin30 {
  margin-top: 30px;
}
.margin20 {
  margin-top: 20px;
}
.accent-font {
 font-family: 'Pacifico', cursive;
}

.accent-background, .accent-background a, .navbar-brand.accent-font.btn {
/*  background-color: #608A44;*/
  color: red;
}

a.accent-background:hover, .accent-background:hover, .accent-background a:hover, .navbar-brand.accent-font.btn:hover {
  color: #B21212;
  background-color: white;
}


.accent-background.btn {
  background-color: red;
  color: white;
}

.accent-background.btn:hover {
  background-color: #B21212;
  color: white;
}


.navbar.no-margin-bottom {
  margin-bottom: 0px;
}

td.marked {
/*  background-color: #F7F5D8;  yellow*/
  background-color: #DEFFFC; /*blue*/
}
td.marked .bingo-image-column {
  opacity: 1;
}

td.marked.part-of-bingo {
/*  background-color: #F7F594; /*yellow*/
  background-color: #9CFFFC; /*blue*/
}

@media(max-width: 750px){
  .hide-if-xs {
    height:0p;
  }  
}

#show-bingo {
  position: absolute;
  left: 0px;
  top: -48px;
  margin-left: 40%;
  font-size: 35px;
  color: red;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}
