// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.below-arc-text {
  font-size: 85px;
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
}
//image-column used on first page for images
.bingo-image-column {
  vertical-align: middle;
  position: relative;  
  width: 100%;
  border-radius: 50%;
  background-size: cover;
  opacity: .6;
  transition: opacity 1s;
}

.bingo-image-column:before {
  padding-top: 100%;
  display: block;
  content: "";
  position: relative;
}

.bingo-image-column:hover {  
  opacity:1;
}
////for other contents uses this css
//.bingo-col-square {
//  display: inline-block;
//  position: relative;
//  width: 100%;
//}
//
//.bingo-col-square:before {
//  margin-top: 75%;
//}

.bingo-contents {
  width: 100%;
  height: 0px;
  padding-bottom: 85%;
}


table.bingo-welcome {
    border-collapse:separate;  /*can't border collapse if you want rounded edges*/
    border:solid red 6px;
    border-radius:6px;
    -moz-border-radius:6px;
    border-spacing: 0px; /* with border collapse separate, if you don't set border spacing to 0 then you will see spaces between borders*/
    border-left: solid red 6px; /*if you don't border-left, you will have a double thickness left border*/
    width: 100%;  /*Needed so that it takes up all 12 cols from bootstrap*/
}
// Makes header red
th.bingo-th {
  background-color: red;
  color: white;
  border: none;
  text-align: center;
}
// adds border top and left to all inner circles
// adds padding to cells
td.bingo-col {
  border-left: solid #DDDDDD 1px;
  border-top: solid #DDDDDD 1px;
  padding-top: 5px; /* with border spacing = 0, you need padding in the cells */
  padding-bottom: 5px;
}

//left hand side should not be doubled
th.bingo-th, tr td.bingo-col:first-child {
  border-left: none;
}
// there should be no grey lines above the first row
tr:first-child td.bingo-col {
  border-top: none;
}
// Effects
//sets transition of background color
td.bingo-col {
  transition: background-color 1s;
}
// changes back ground color on hover
td.bingo-col:hover {
   background-color: #DEFFFC; 
}

td.bingo-td-no-padding, td.bingo-td-no-padding .form-group, td.bingo-td-no-padding textarea, td.bingo-td-no-padding .checkbox {
  padding: 2px 2px 2px 2px;
  margin: 0px 0px;
}

textarea.resize-none {
  resize: none;
  font-size: .8em;
}