// Place all the styles related to the PasswordResets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  border-collapse:collapse;  /*can't border collapse if you want rounded edges*/
  border:solid #eee 3px;
  border-radius:12px;
  -moz-border-radius:12px;
  border-spacing: 0px; /* with border collapse separate, if you don't set border spacing to 0 then you will see spaces between borders*/
  border-left: solid #eee 3px; /*if you don't border-left, you will have a double thickness left border*/
  width: 100%; 
  table-layout: fixed;
}

td, th {
  border-left: solid #DDDDDD 1px;
  border-top: solid #DDDDDD 1px;
  padding-top: 5px; /* with border spacing = 0, you need padding in the cells */
  padding-bottom: 5px;
}