// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  height: 300px;
  background-position: center bottom;
  background-size: cover;
}


.box {
  vertical-align: middle;
  position:relative;
  
}
.box:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circle {
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0px;
}

.text {
  position: relative;
  text-align: center;
}

.monospace-font {
  font: 120px monospace;  
}

.header-arc-text {
  vertical-align: middle;
  position:relative; 
  height: 250px;
}


//.header-arc-text:before {
//  content: "";
//  display: block;
//  padding-top: 100%;
//  position: relative;
//}

.header-arc-text .char {
  z-index: -1;
  height: 800px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  transform-origin: bottom center;
  font-size: 3em;
  font-family: 'Pacifico', cursive;
}

@media(max-width: 685px) {
    
    .header-arc-text .char {
      font-size: 2em;
      height: 500px;
    }
}
.char1 { 
  -ms-transform: rotate(-54deg); /* IE 9 */
  -webkit-transform: rotate(-54deg); /* Chrome, Safari, Opera */
  transform: rotate(-54deg);
}
.char2 { 
  -ms-transform: rotate(-45deg); /* IE 9 */
-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
transform: rotate(-45deg);
}
.char3 { 
  -ms-transform: rotate(-36deg); /* IE 9 */
  -webkit-transform: rotate(-36deg); /* Chrome, Safari, Opera */
  transform: rotate(-36deg);
}
.char4 { 
  -ms-transform: rotate(-27deg); /* IE 9 */
  -webkit-transform: rotate(-27deg); /* Chrome, Safari, Opera */
  transform: rotate(-27deg);
 }
.char5 { 
  -ms-transform: rotate(-18deg); /* IE 9 */
-webkit-transform: rotate(-18deg); /* Chrome, Safari, Opera */
transform: rotate(-18deg);
}
.char6 { 
  -ms-transform: rotate(-9deg); /* IE 9 */
  -webkit-transform: rotate(-9deg); /* Chrome, Safari, Opera */
  transform: rotate(-9deg);
}
.char7 { 
//  -ms-transform: rotate(33deg); /* IE 9 */
//  -webkit-transform: rotate(33deg); /* Chrome, Safari, Opera */
//  transform: rotate(33deg);
 }
.char8 { 
  -ms-transform: rotate(9deg); /* IE 9 */
-webkit-transform: rotate(9deg); /* Chrome, Safari, Opera */
transform: rotate(9deg);
}
.char9 { 
  -ms-transform: rotate(18deg); /* IE 9 */
  -webkit-transform: rotate(18deg); /* Chrome, Safari, Opera */
  transform: rotate(18deg);
 }
.char10 { 
  -ms-transform: rotate(27deg); /* IE 9 */
-webkit-transform: rotate(27deg); /* Chrome, Safari, Opera */
transform: rotate(27deg);
}
.char11 { 
  -ms-transform: rotate(36deg); /* IE 9 */
  -webkit-transform: rotate(36deg); /* Chrome, Safari, Opera */
  transform: rotate(36deg);
}
.char12 { 
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
 }
.char13 { 
  -ms-transform: rotate(54deg); /* IE 9 */
-webkit-transform: rotate(54deg); /* Chrome, Safari, Opera */
transform: rotate(54deg);
}


.explanation-section {
  margin-top: 10%;
  padding: 10%;
  background-color: #E3FFFC;
  
}
.explanation-block {
  max-width: 970px;
  margin: auto;

}

//Explanation of site in white ball
.explanation-ball {
  vertical-align: middle;
  position:relative;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.explanation-ball:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.explanation-content {
  width:100%;        // +1 to @RonM
  text-align: center;
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0px;
  -webkit-transform: translateY(25%); /* child now centers itself relative to the midline based on own contents */
  -moz-transform: translateY(25%);
  -ms-transform: translateY(25%);
  -o-transform: translateY(25%);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Matrix(Dx=0,Dy=0)'; /*IE8 */
  filter: progid:DXImageTransform.Microsoft.Matrix(Dx=0,Dy=0); /*IE6, IE7*/
  transform: translateY(25%);    
}
.exp-empty {
  height: 100px
}
.explanation-ball {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
}

.explanation-list {
  font-size: 1em;
  list-style-type: none;
  padding: 0px;
  margin-left: 0px;
}