// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  height: 300px;
  background-position: center bottom;
  background-size: cover;
}


.box {
  vertical-align: middle;
  position:relative;
  
}
.box:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circle {
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0px;
}

.text {
  position: relative;
  text-align: center;
}

.monospace-font {
  font: 120px monospace;  
}

.header-arc-text {
  vertical-align: middle;
  position:relative; 
  height: 250px;
}

//.header-arc-text:before {
//  content: "";
//  display: block;
//  padding-top: 100%;
//  position: relative;
//}

.header-arc-text .char {
  z-index: -1;
  height: 800px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  transform-origin: bottom center;
  font-size: 3em;
  font-family: 'Pacifico', cursive;
}

.char1 { 
  -ms-transform: rotate(-54deg); /* IE 9 */
  -webkit-transform: rotate(-54deg); /* Chrome, Safari, Opera */
  transform: rotate(-54deg);
}
.char2 { 
  -ms-transform: rotate(-45deg); /* IE 9 */
-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
transform: rotate(-45deg);
}
.char3 { 
  -ms-transform: rotate(-36deg); /* IE 9 */
  -webkit-transform: rotate(-36deg); /* Chrome, Safari, Opera */
  transform: rotate(-36deg);
}
.char4 { 
  -ms-transform: rotate(-27deg); /* IE 9 */
  -webkit-transform: rotate(-27deg); /* Chrome, Safari, Opera */
  transform: rotate(-27deg);
 }
.char5 { 
  -ms-transform: rotate(-18deg); /* IE 9 */
-webkit-transform: rotate(-18deg); /* Chrome, Safari, Opera */
transform: rotate(-18deg);
}
.char6 { 
  -ms-transform: rotate(-9deg); /* IE 9 */
  -webkit-transform: rotate(-9deg); /* Chrome, Safari, Opera */
  transform: rotate(-9deg);
}
.char7 { 
//  -ms-transform: rotate(33deg); /* IE 9 */
//  -webkit-transform: rotate(33deg); /* Chrome, Safari, Opera */
//  transform: rotate(33deg);
 }
.char8 { 
  -ms-transform: rotate(9deg); /* IE 9 */
-webkit-transform: rotate(9deg); /* Chrome, Safari, Opera */
transform: rotate(9deg);
}
.char9 { 
  -ms-transform: rotate(18deg); /* IE 9 */
  -webkit-transform: rotate(18deg); /* Chrome, Safari, Opera */
  transform: rotate(18deg);
 }
.char10 { 
  -ms-transform: rotate(27deg); /* IE 9 */
-webkit-transform: rotate(27deg); /* Chrome, Safari, Opera */
transform: rotate(27deg);
}
.char11 { 
  -ms-transform: rotate(36deg); /* IE 9 */
  -webkit-transform: rotate(36deg); /* Chrome, Safari, Opera */
  transform: rotate(36deg);
}
.char12 { 
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
 }
.char13 { 
  -ms-transform: rotate(54deg); /* IE 9 */
-webkit-transform: rotate(54deg); /* Chrome, Safari, Opera */
transform: rotate(54deg);
}

.below-arc-text {
  font-size: 85px;
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
}

.bingo-image-column {
  vertical-align: middle;
  position: relative;  
  width: 100%;
  border-radius: 50%;
  background-size: cover;
  opacity: .6;
  transition: opacity 1s;
}

.bingo-image-column:before {
  padding-top: 100%;
  display: block;
  content: "";
  position: relative;
//  transition: padding-top 1s;
}

.bingo-image-column:hover {
  
  opacity:1;
}


table.bingo-welcome {
//    position: relative;
//    left: 0px;
    border-collapse:separate;  /*can't border collapse if you want rounded edges*/
    border:solid red 6px;
    border-radius:6px;
    -moz-border-radius:6px;
    border-spacing: 0px; /* with border collapse separate, if you don't set border spacing to 0 then you will see spaces between borders*/
    border-left: 0px; /*if you don't border-left, you will have a double thickness left border*/
    width: 100%;  /*Needed so that it takes up all 12 cols from bootstrap*/
}

tbody.bingo-tbody {
  border: solid red 6px;
  border-radius: 6px;
  -moz-border-radius:6px;
  border-spacing: 1px;
}
th.bingo-th {
    background-color: red;
    color: white;
    border: none;
    text-align: center;
}

th.bingo-th, td.bingo-col {
  border-left: solid red 6px;
}
td.bingo-col {
  transition: background-color 1s;
}
td.bingo-col:hover {
   background-color: #F7F5D8; 
}
tr.bingo-tr {
  padding-top: 5px;
}
td.bingo-col {
  border-left: solid black 1px;
  border-top: solid red 3px;
  border-radius: 6px 0 0 0;
  padding-top: 5px; /* with border spacing = 0, you need padding in the cells */
  padding-bottom: 5px;
}

thead:first-child tr:first-child th.bingo-th:first-child, tbody:first-child tr:first-child td.bingo-col {
  border-radius: 6px 0 0 0;
  border: solid red 6px;
}
thead:last-child tr:last-child th.bingo-th:first-child, tbody:last-child tr:last-child td.bingo-col:first-child {
//  border-radius: 0 0 0 6px;
  border-left: solid red 6px;
}