<div class="row">

  <div class="form col col-xs-12 col-md-10 col-md-offset-1">

    <h1 class="accent-font accent-background text-center">Editing <%= @organization.name %> Page</h1>

    <%= render 'form' %>

    <%= link_to 'Group Page', @organization %>

  </div>
  
</div>