
<div class="container">
  <h2 class="accent-font">Edit your account information</h2>

  <%= render 'form' %>
  <div class="row">
  <%= link_to ("<i class='fa fa-fast-backward'></i> Back to Profile").html_safe, profile_path, class: "btn btn-default" %>
  </div>
</div>