<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h1 class="accent-font">Login to start!</h1>

    <%= render 'form' %>


    <h1 class="accent-font">Forgot Password?</h1>
    <%= render 'forgot_password_form' %>
  </div>
</div>